:root {
    --primary: #B9F6FF;
}

.invert_image{
  filter: invert(89%) sepia(93%) saturate(7494%) hue-rotate(170deg) brightness(104%) contrast(105%);
}

.error-div{
  height: 99.9vh;
  max-height: 99.9vh;
  overflow: hidden;
}



