:root {
    --primary: #000000;
    --secondary:#F4AEFF;

}

#eventos {
    color: var(--secondary);
}

.text-muted {
    color: var(--secondary) !important;
}

.calendar .atcb-button{
    background-color: var(--primary)!important;
    color: var(--primary);
    border-color: var(--secondary);
}

#eventos .atcb-button.atcb-no-text.atcb-dropoverlay.atcb-single{
    margin: 0px !important;
}

.invert-quick:hover  {
    background-color: var(--secondary);
}

html {
    color: var(--secondary);
}

nav img{
    filter: invert(89%) sepia(84%) saturate(5943%) hue-rotate(239deg) brightness(104%) contrast(103%);
}

.invert_image{
    filter: none;
}

.top-links{
    height: 8vh;
    max-height: 8vh;
}

.event-div{
    height: 91.9vh;
    max-height: 91.9vh;
}


@media screen and (min-width: 768px) {
    

}