#home{
    --primary: #F53141;
    color: var(--primary)
}

.dot {
  background-color: var(--primary);
}

.mega-title{
    font-family: 'Anton', sans-serif;
    letter-spacing: -0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    /* transform: translateY(-50%); */
}

footer{
	position: absolute;
	bottom: 0;
	padding-left: 1rem;
  padding-right: 1rem;
  color: #1C232E;
}
footer a{
	color: #1C232E;
	text-decoration: none;
}


@media screen and (min-width: 320px) {
  .mega-title{
	margin-top: 35%;
	font-size: 15rem;
  }
}

@media screen and (min-width: 1000px) {
    .mega-title{
      font-size: 20rem;
      margin-top: 0;
    }
    .button-div{
        margin-top: -3rem;
    }
}

.coverdiv {
  background-color: #F53141;
}
