:root {
    --primary: #C0B2FF;
}
#home{
    color: var(--secondary);
    width: 100%;
    height: 100%;
}

.dot {
    box-shadow: inset 0 0 0 0px var(--secondary);
    color: var(--primary);
}


.invert_image{
    filter: invert(77%) sepia(11%) saturate(4976%) hue-rotate(198deg) brightness(102%) contrast(105%);
}


.row {
    --bs-gutter-x: 0;
}



.init-hidden{
    display: none;

}


.queerghost{
    z-index: 100;
    background-color: var(--primary);
    
}

footer{
	position: absolute;
	bottom: 0;
	padding-left: 1rem;
    padding-right: 1rem;
    color: #1C232E;
}
footer a{
	color: #1C232E;
	text-decoration: none;
}

footer a:hover{
	color: #F53141;
    text-decoration: none;
}

.glitched{
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

*,
*::before,
*::after {
	transform-style: preserve-3d;
}

.glitched > span {
    position: relative;
    color: transparent;
  }
  
  .glitched > span::after {
    content: attr(data-char);
    position: absolute;
    display: inline-block;
    inset: 0;
    color: var(--secondary);
  }
  
  .glitched:is(:hover, :focus-visible) > span::after {
    animation: flash calc(var(--speed, 0.25) * 1s) calc(var(--index, 0) * 0.05s) steps(1, end);
  }
  
  @keyframes flash {
    0%, 20%   { content: '_'; }
    40%  { content: var(--char-1); }
    60%  { content: var(--char-2); }
    80%  { content: var(--char-3); }
  }
  
  .glitched::before {
      content: ".char ::after";
      position: absolute;
      left: 100%;
      white-space: nowrap;
      translate: 0 -50%;
      transform-origin: 0 50%;
      scale: 0.5;
      top: 50%;
      text-transform: none;
      pointer-events: none;
      opacity: 0;
  }
  
  .glitched::before {
      transition: opacity 0.5s 0s;
  }
  
  .glitched {
      transition: transform 0.5s 1s, scale 0.5s 3s, opacity 0s 3s;
  }



/* phone */
@media screen and (min-width: 320px) {
    .row.one{
        height: 7.5vh;
        max-height: 7.5vh;
    }

    .row.two{
        height: 25vh;
        max-height: 25vh;
    }

    .text-container{
        height: 73vh;
        max-height: 73vh;
    }

    div.ghost {
        height: 85%;
    }

    .row.three{
        height: 15vh;
        max-height: 15vh;
    }

    .row.half{
        height: 5vh;
        font-size: 0.7rem;
        opacity: 0.5;
    }

    .row.two .custom-border img{
        max-height: 18vh;
        
    }

    .extra-div{
        height: 25vh;
        max-height: 25vh;
    }

    .question-div{
        height: 15.5vh;
        max-height: 15.5vh;
    }

    .ghost img{
        height: 25vh;
        max-height: 25vh;
    }

    .queerghost img{
        height: 25vh;
        max-height: 25vh;
    }

    .row.four{
        height: 40vh;
    }
}

/* landscape or small devices */
@media screen and (min-width: 768px) {
    .row.one{
        height: 10vh;
        max-height: 10vh;
    }
    
    .row.two{
        height: 25vh;
        max-height: 25vh;
    }
    
    .text-container{
        max-height: 75vh;
    }
    
    .row.three{
        height: 15vh;
        max-height: 15vh;
    }
    
    .row.half{
        height: 4.9vh;
        font-size: 0.7rem;
        opacity: 0.5;
    }

    .row.two .custom-border img{
        max-height: 18vh;
        
    }
    
    .extra-div{
        height: 25vh;
        max-height: 25vh;
    }
    
    .question-div{
        height: 12.5vh;
        max-height: 12.5vh;
    }
    
    .ghost img{
        height: 25vh;
        max-height: 25vh;
    }
    
    .queerghost img{
        height: 25vh;
        max-height: 25vh;
    }

    .row.four{
        height: 40vh;
    }
    
  
}

/* large devises */
@media screen and (min-width: 992px){
    
}

/* huge */
@media screen and (min-width: 1200px) {
    .mega-title{
      font-size: 20rem;
      margin-top: 0;
    }
    .button-div{
        margin-top: -3rem;
    }
}

/* .coverdiv {
  background-color: #F53141;
} */
