:root {
    --primary: #d51c1c;
    --secondary: #fff82d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary: #fff82d;
    }
}

@font-face {
    font-family: maleville;
    src: url(Millave.ttf);
    font-weight: bold;
}

.title {
    font-family: maleville;
    font-size: 5rem;
    color: var(--secondary);
    text-align: center;
    margin-top: 1rem;
}

.counter {
    font-family: maleville;
    font-size: 2rem;
    color: var(--secondary);
    text-align: center;
    margin-top: 1rem;
}

a {
    font-size: 1.5rem;
}

.modal-content {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 0px;
}

.image-container{
    display: flex;
    justify-content: center;
}

iframe {
    width: 100% !important;
}

@media screen and (min-width: 992px){
    .title {
        font-size: 8rem;
    }
    .counter {
        font-size: 4rem;
    }

    iframe {
        width: 60% !important;
    }
    
}






