/* -----------------Nabar-----------------  */
nav {
	background-color: var(--primary);
}





.nav-ghost {
    padding: 1rem !important;
    
}


@media screen and (min-width: 768px) {
	nav {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		max-width: 15vw;
		padding-left: 0rem;
	}

	nav ul{
		padding-left: 0;
		margin-bottom: 0;
	
	}


	.nav-1 {
		height: 8vh;
		max-height: 8vh;
	}

	main { 
		padding-left: 14.9vw;
	}

	.nav-2 {
		height: 20vh;
		max-height: 20vh;
	}

	.nav-2 img{
		max-height: 19vh;
	}

	.nav-3 {
		height: 4vh;
		max-height: 4vh;
	}

	.nav-ghost {
		padding: 0.6rem !important;
		
	}

}

