/* -----------------Nabar-----------------  */
nav {
	background-color: var(--primary);
}





.nav-ghost {
    padding: 1rem !important;
    
}

.title span{
    transition: 0.3s;
}

.title span:hover{
    font-weight: 900;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.title{
    transition: 0.5s;
}

.title:hover{
    font-weight: 700;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
	nav {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		max-width: 15vw;
		padding-left: 0rem;
	}

	nav ul{
		padding-left: 0;
		margin-bottom: 0;
	
	}


	.nav-1 {
		height: 8vh;
		max-height: 8vh;
	}

	main { 
		padding-left: 14.9vw;
	}

	.nav-2 {
		height: 20vh;
		max-height: 20vh;
	}

	.nav-2 img{
		max-height: 19vh;
	}

	.nav-3 {
		height: 3.9vh;
		max-height: 3.9vh;
	}

	.nav-ghost {
		padding: 0.6rem !important;
		
	}

	.corner-left {
		border-radius: 0 0 0 9px;
	}

	.corner-rigth {
		border-radius: 0 0 9px 0;
	}

}

