#home{
    --primary: #4CF37C;
    color: var(--primary);
}

.dot {
  border-color: var(--primary);
	background-color: var(--primary);
}

  


.coverdiv {
  background-color: #4CF37C;
}

.mega-title{
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}

.mega-subtitle{
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  color: var(--secondary);
  text-shadow: 
      -0.06rem 0 var(--primary), 
      0 0.06rem var(--primary), 
      0.06rem 0 var(--primary), 
      0 -0.06rem var(--primary); /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 
      -0.06rem 0 var(--primary), 
      0 0.06rem var(--primary), 
      0.06rem 0 var(--primary), 
      0 -0.06rem var(--primary);
  -webkit-text-shadow: 
      -0.06rem 0 var(--primary), 
      0 0.06rem var(--primary), 
      0.06rem 0 var(--primary), 
      0 -0.06rem var(--primary);
}

@supports (-webkit-text-stroke: 0.06rem var(--primary)) {
	.mega-subtitle{
		text-shadow: 
			0rem 0 var(--primary), 
			0rem var(--primary), 
			0rem 0 var(--primary), 
			0 0rem var(--primary); /* horizontal-offset vertical-offset 'blur' colour */
		-webkit-text-stroke: 0.06rem var(--primary);
	}
}

.project-title{
  font-size: 2rem;
  font-weight: 800;
}

.project-links{
  filter: invert(68%) sepia(97%) saturate(296%) hue-rotate(79deg) brightness(96%) contrast(105%);
}

button {
	color: #4CF37C;
  border: 0.01rem  solid;
}

.tags span{
  background-color: var(--primary);
  border-radius: 100px;
  color: var(--secondary);
  font-size: 0.6rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-left: 0.18rem;
  padding-right: 0.18rem;
}


@media screen and (min-width: 320px) {
  .mega-title{
    margin-top: -9rem;
  }
}

@media screen and (min-width: 1000px) {
  .mega-title{
    margin-top: -15rem;
  }
}
