/* Variables */
:root{
    --secondary: #000000;
}

/* add variables for darkmode  */
@media (prefers-color-scheme: dark) {
    :root {
        --secondary: #000000;;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body:-webkit-scrollbar {
	display: none;
}


body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: var(--primary);
    font-family: "Noto Sans Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    font-variation-settings:
    "wdth" 250;
    /* padding: 0rem 0.7rem; */
}

.row {
    --bs-gutter-x: 0;
}

a {
    text-decoration: none;
    color: var(--secondary);
    transition: 500ms;
    
}

a:hover {
    font-weight: 400;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 500;
    margin-bottom: 0rem;
}

html {
	font-size: 13px;
	color: var(--primary)
}


button {
	position: relative;
	padding: 0.5rem 1rem;
	color: var(--primary);
	font-weight: 700;
	border: 0.01rem var(--primary) solid;
	border-radius: 4px;
	outline: 0;
	overflow:hidden;
	background-color: var(--secondary);
	z-index: 1;
	cursor: pointer;
	transition:         0.08s ease-in;
	-o-transition:      0.08s ease-in;
	-ms-transition:     0.08s ease-in;
	-moz-transition:    0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
}


.fill:hover {
	color: var(--secondary);
}
  
.fill:before {
	content: "";
	position: absolute;
	background: var(--primary);
	bottom: 0;
	left: 0;
	right: 0;
	top: 100%;
	z-index: -1;
	-webkit-transition: top 0.09s ease-in;
}

.button:active {
	border-color: transparent;	
}
  
.fill:hover:before {
	top: 0;
}

.custom-border{ 
    border-color: var(--secondary);
    border-style: solid;
    border-width: 0.03rem;
}

.row .custom-border {
    padding: 0rem;
    overflow: hidden;
}

.special{
  font-family: "Major Mono Display", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
}



.align-items-center {
    display: flex; 
    align-items: center;  /*Aligns vertically center */
    justify-content: center; /*Aligns horizontally center */
}

.pointer {
	cursor: pointer;
}

.invert:hover {
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary) !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.invert:active {
  background-color: var(--secondary);
  color: var(--primary);
}

  
@media screen and (min-width: 768px) {

	
}
