{% load static %}

<nav class="d-lg-none navbar bottom-nav navbar-dark navbar-expand fixed-bottom d-md-none d-lg-none d-xl-none p-0">
    <ul class="navbar-nav nav-justified w-100 custom-border">
        <li class="nav-item custom-border">
            <a href="" class="nav-link text-center">
                <img class="img-fluid" src="{% static 'img/icons/synth.png' %}" alt="">
                <!-- <span class="small nav-text d-block">Operadores</span> -->
            </a>
        </li>

        <li class="nav-item custom-border">
            <a href="" class="nav-link text-center">
                <img class="img-fluid" src="{% static 'img/icons/camera.png' %}" alt="">
                <!-- <span class="small nav-text d-block">Operadores</span> -->
            </a>
        </li>

        <li class="nav-item custom-border">
            <a href="" class="nav-link text-center">
                <img class="img-fluid" src="{% static 'img/icons/robot.png' %}" alt="">
                <!-- <span class="small nav-text d-block">Operadores</span> -->
            </a>
        </li>
        <li class="nav-item custom-border">
            <a href="" class="nav-link text-center nav-ghost">
                <img class="img-fluid" src="{% static 'img/icons/ghost.png' %}" alt="">
                <!-- <span class="small nav-text d-block">Operadores</span> -->
            </a>
        </li>
    </ul>
</nav>