<div class="circle">
    <a href="" class="nav__link"><span class="dot"></span></a>
</div>
<nav class="navb">
	<input type="checkbox" id="nav" class="hidden" />
	<label for="nav" class="nav__open"><i></i><i></i><i></i></label>
	<div class="nav">
		<ul class="nav__items">
            <li class="nav__item"><a 
                href="" class="nav__link" 
                data-hover="SOFTWARE">SOFTWARE</a></li>
            <li class="nav__item"><a 
                href="" 
                class="nav__link" 
                data-hover="PHOTOGRAPHY">PHOTOGRAPHY</a></li>
            <li class="nav__item"><a 
                href="" 
                class="nav__link" 
                data-hover="MUSIC">MUSIC</a></li>
		</ul>
	</div>
</nav>