{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block meta %}
<!-- <meta name="theme-color" content="#ecd96f" media="(prefers-color-scheme: light)"> -->
<meta name="theme-color" content="#B270FF" media="(prefers-color-scheme: dark)">
{% endblock meta %}


{% block title %}Software{% endblock title %}

{% block libraries %}
<!-- Stylesheet -->
<link rel="stylesheet" href="{% static "css/navbar.css" %}">
<link rel="stylesheet" href="{% static "css/software.css" %}">
{% endblock libraries %}


{% block content %}
<main id="software" class="custom-border">
    {% include "includes/navbar.html" %}
    <div class="custom-border software-div overflow-scroll p-5">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1>Software Projects</h1>
            </div>
        </div>


        {% for project in projects  %}
            <div class="row custom-border mt-3"> 
                <div class="col-12 align-self-center text-center custom-border px-3 py-2">
                    <h3 class="">
                        <a href="{% url 'software:project_detail' project.id %}">
                            {{ project.name }}
                        </a>
                    </h3>
                </div>
                <div class="col-12">
                    <div class="row text-center">
                        {% if project.github %}
                            <a class="col custom-border invert px-3 py-2"  href="{{ project.github }}" target="blank">
                                github
                            </a>
                        {% endif %}
                        {% if project.link %}
                        <a class="col custom-border invert px-3 py-2"  href="{{ project.link }}" target="blank">
                            link
                        </a>
                        {% endif %}
                    </div>
                </div>  
                <div class="col-12 custom-border px-3 py-2">
                    <div class="project-description">
                        {{ project.description|linebreaks }}
                        <div class="text-right">
                            <a href="{% url 'software:project_detail' project.id %}">Read more about it.</a>
                        </div>
                    </div>
                    <div class="tags">
                        <p>
                            Technology Stack:
                            <br>
                            {% for tag in  project.tags.all %}
                                <span>
                                    {{ tag }}
                                </span>
                            {% endfor %}
                                
                        </p>
                    </div>
                </div>   
                <a class="col-12 custom-border px-3 py-2 invert text-center " href="{% url 'software:project_detail' project.id %}">
                    Read more about it.
                </a> 
            </div>
            
        {% endfor %}
        <div class="empty-div m-xl-0 p-xl-4 m-5 p-4"></div> 
        <div class="empty-div m-xl-0 p-xl-4 m-5 p-4"></div> 

    </div>
</main>


{% endblock content %}

<div id="home">
    {% include "includes/navbar.html" %}
    <div class="content">
        <header class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                        <h1 class="mega-title">
                            Vic
                        </h1>
                        <h2 class="mega-subtitle">
                            Computer Scientist & Software Engineer
                        </h2>
                    </div>
                </div>
            </div>
        </header>
        <main>

            {% for project in projects %}
                <article class="container">
                    <div class="col-12 p-0">
                        <div class="equal min-vh-100 m-0 d-flex flex-column justify-content-center">
                            <div class="row"> 
                                <div class="col-md-6 align-self-center text-center">
                                    <h3 class="project-title">
                                        <a href="{% url 'software:project_detail' project.id %}">
                                            {{ project.name }}
                                        </a>
                                    </h3>
                                    <div class="project-links">
                                        
                                        {% if project.github %}
                                            <a href="{{ project.github }}" target="blank">
                                                <img class="contact-icon" src="{% static "img/icons/github.svg" %}" alt="github">
                                            </a>
                                        {% endif %}
                                        
                                        
                                        {% if project.link %}
                                            <a href="{{ project.link }}" target="blank">
                                                <img class="contact-icon" src="{% static "img/icons/link.svg" %}" alt="link">
                                            </a>
                                        {% endif %}
                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="project-description">
                                        {{ project.description|linebreaks }}
                                        <div class="text-right">
                                            <a href="{% url 'software:project_detail' project.id %}">Read more about it.</a>
                                        </div>
                                   </div>
                                    <div class="tags">
                                        <p>
                                            Technology Stack:
                                            <br>
                                            {% for tag in  project.tags.all %}
                                                <span>
                                                    {{ tag }}
                                                </span>
                                            {% endfor %}
                                                
                                        </p>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>          
                </article>
            {% endfor %}

            <div class="button-div text-center">
                <button class="md-trigger fill" data-modal="modal-12">
                    contact them
                </button>
            </div>
        </main>
    </div>
</div>

{% block javascript %}
{% endblock javascript %}
