{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Photography{% endblock title %}

{% block libraries %}
<!-- Stylesheet -->
<link rel="stylesheet" href="{% static "css/navbar.css" %}">
<link rel="stylesheet" href="{% static "css/secret.css" %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
{% endblock libraries %}


{% block content %}
<div id="secret">
    <div class="center">
        <div class="mega-title">{{ secret.title }}</div>
        <div class="artwork"><img class="img-fluid" src="{{secret.artwork.image.url}}" alt=""></div>
        
    </div>
    
    <div class="container">{{ secret.argument|linebreaks }}</div>
    <div class="song-container">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/955742797%3Fsecret_token%3Ds-QmSImVwUc5w&color=%23d8bfd8&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
        </iframe>
        <div 
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            </div>
    </div>
    
</div>


{% endblock content %}

{% block javascript %}
{% endblock javascript %}



