{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block libraries %}
<!-- Stylesheet -->
<link rel="stylesheet" href="{% static "css/navbar.css" %}">
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock libraries %}


{% block content %}
<div id="home">
    {% include "includes/navbar.html" %}
    <div class="fullscreen">
        <div class="mega-title">
            TRS
        </div>
        <div class="button-div text-center">
            <button class="md-trigger fill" data-modal="modal-12">
                contact him
            </button>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <div class="row">
        <div class="col-6"><a href="{% url 'shared:terms' %}" target="blank">Terms and Conditions</a></div>
        <div class="col-6 text-right">trs © 2021</div>
    </div>
</footer>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
