{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Error 404{% endblock title %}

{% block libraries %}
<!-- Stylesheet -->
<link rel="stylesheet" href="{% static "css/navbar.css" %}">
<link rel="stylesheet" href="{% static "css/error.css" %}">
{% endblock libraries %}


{% block content %}
<main id="error" class="custom-border">
    {% include "includes/navbar.html" %}
    <div class="custom-border error-div  p-5">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1>Under Construction</h1>
                <p>Pronto estará disponible esta sección.</p>
            </div>
        </div>
        <div class="ghost text-center">
            <img id="ghost-mobile" class="img-fluid ghost ghost" src="{% static 'img/icons/ghost.png' %}" alt="">
        </div>

        

     </div>
</main>


{% endblock content %}

{% block javascript %}
{% endblock javascript %}