{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}TRS Live Sets{% endblock title %}

{% block libraries %}
<!-- Stylesheet -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static "css/eventos.css" %}">
<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>   

{% endblock libraries %}


{% block content %}
<main id="eventos" class="custom-border">
    {% include 'includes/navbar.html' %}
    <div class="row top-links">
        <div class="col custom-border text-center align-middle align-items-center">
            <h4>
                <a class="text-muted" href="{% url 'music:discography' %}">
                    Discografía
                </a>
            </h4>

        </div>
        <div class="col custom-border text-center align-middle align-items-center">
            <h4>
                <a class="text-muted" href="{% url 'music:events' %}">
                    Live Set
                </a>
            </h4>
        </div>
    </div>
    <div class="col custom-border event-div overflow-scroll p-5">
        <div class="row">
            <div>
                <div class="col-12 text-center"><h1>Eventos</h1></div>
            </div>

        </div>
        
        <div class="row">
            {% for event in events %}
                <div class="col-6 col-md-4 col-xl-3 p-2 p-xl-4">
                    <div class="row custom-border">
                        {% if event.flyer %}
                            <div class="col-12">
                                                        <img class="img-fluid custom-border" src="{{event.flyer.url }}" alt="">
                                                    </div>
                        {% endif %}
                        
                        <div class="col-12 custom-border px-3 py-2">
                            <h5>{{event.name}}</h5>
                            {{event.description}}

                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col custom-border px-3 py-2">
                                    {{ event.date|date:"d F Y" }}
                                    <br>
                                    {{ event.date|time:"H:i" }}
                                </div>
                                <div class="col-auto custom-border invert-quick">
                                    <add-to-calendar-button
                                        styleLight="
                                            --btn-background: transparent;
                                            --btn-border: transparent;
                                            --btn-hover-background:  #F4AEFF;
                                            --btn-text: #F4AEFF;
                                            --btn-border-radius: 0px;
                                            --wrapper-padding: 0px;
                                            --btn-active-shadow: 0px 0px 0px 0px;
                                        "
                                        styleLight="
                                            
                                            --btn-background: transparent;
                                            --btn-border: transparent;
                                            --btn-hover-background:  #F4AEFF;
                                            --btn-text: #F4AEFF;
                                            --btn-border-radius: 0px;
                                            --wrapper-padding: 0px;
                                        "
                                        name={{ event.name }}
                                        startDate="{{ event.date|date:"Y-m-d" }}"
                                        startTime="{{ event.date|time:"H:i" }}"
                                        endTime="{{ event.end_date|time:"H:i" }}"
                                        timeZone="America/Mexico_City"
                                        location="{{ event.venue.name }}"
                                        options="'iCal'"
                                        buttonsList
                                        hideTextLabelButton
                                        lightMode="bodyScheme"
                                        
                                    ></add-to-calendar-button>

                                </div>

                            </div>
                            

                        </div>
                        <div class="col-12 px-3 py-2 custom-border">
                            <i class="bi bi-geo-fill"></i>
                                                    <a target="_blank" href="{{event.venue.maps}}">
                                                        {{ event.venue.name }}
                                                        ({{ event.venue.address }})
                                                    </a>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                {% if event.venue.instagram or event.venue.website %}
                                    <div class="col custom-border px-3 py-2">
                                        Venue: &nbsp;
                                        {% if event.venue.instagram %}
                                            <a target="_blank" href="{{event.venue.instagram}}">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        {% endif %}
                                        {% if event.venue.website %}
                                            {% if event.venue.instagram %}
                                                |
                                            {% endif %}
                                            <a target="_blank" href="{{event.venue.website}}">
                                                <i class="bi bi-link"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if event.instagram or event.website %}
                                    <div class="col custom-border px-3 py-2">
                                        Event: &nbsp;
                                        {% if event.instagram %}
                                            <a target="_blank" href="{{event.instagram}}">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        {% endif %}
                                        {% if event.website %}
                                            {% if event.instagram %}
                                                |
                                            {% endif %}
                                            <a target="_blank" href="{{event.website}}">
                                                <i class="bi bi-link"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="row">
                    <div>
                        <div class="col-12 text-center"><h1>Eventos Pasados</h1></div>
                    </div>
        
                </div>
                
                <div class="row">
                    {% for event in past_events %}
                        <div class="col-6 col-md-4 col-xl-3 p-2 p-xl-4">
                            <div class="row custom-border">
                                {% if event.flyer %}
                                    <div class="col-12">
                                        <img class="img-fluid custom-border" src="{{event.flyer.url }}" alt="">
                                    </div>
                                {% endif %}
                                <div class="col-12 custom-border px-3 py-2">
                                    <h5>{{event.name}}</h5>
                                    {{event.description}}
        
                                </div>
                                <div class="col-12 custom-border">
                                    <div class="row">
                                        <div class="col px-3 py-2">
                                            {{ event.date|date:"d F Y" }}
                                            <br>
                                            {{ event.date|time:"H:i" }}
                                        </div>
                                        <div class="col-auto custom-border">
                                            <add-to-calendar-button
                                                styleLight="
                                                    --btn-background: transparent;
                                                    --btn-border: transparent;
                                                    --btn-hover-background:  #F4AEFF;
                                                    --btn-text: #F4AEFF;
                                                    --btn-border-radius: 0px;
                                                    --wrapper-padding: 0px;
                                                "
                                                styleLight="
                                                    
                                                    --btn-background: transparent;
                                                    --btn-border: transparent;
                                                    --btn-hover-background:  #F4AEFF;
                                                    --btn-text: #F4AEFF;
                                                    --btn-border-radius: 0px;
                                                    --wrapper-padding: 0px;
                                                "
                                                name={{ event.name }}
                                                startDate="{{ event.date|date:"Y-m-d" }}"
                                                startTime="{{ event.date|time:"H:i" }}"
                                                endTime="{{ event.end_date|time:"H:i" }}"
                                                timeZone="America/Mexico_City"
                                                location="{{ event.venue.name }}"
                                                options="'iCal'"
                                                buttonsList
                                                hideTextLabelButton
                                                lightMode="bodyScheme"
                                                
                                            ></add-to-calendar-button>
        
                                        </div>
        
                                    </div>
                                    
        
                                </div>
                                <div class="col-12 px-3 py-2 custom-border">
                                    <i class="bi bi-geo-fill"></i>
                                                            <a target="_blank" href="{{event.venue.maps}}">
                                                                {{ event.venue.name }}
                                                                ({{ event.venue.address }})
                                                            </a>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col custom-border px-3 py-2">
                                            {% if event.venue.instagram or event.venue.website %}
                                                Event: &nbsp;
                                                {% if event.venue.instagram %}
                                                    <a target="_blank" href="{{event.venue.instagram}}">
                                                        <i class="bi bi-instagram"></i>
                                                    </a>
                                                {% endif %}
                                                {% if event.venue.website %}
                                                    {% if event.venue.instagram %}
                                                        |
                                                    {% endif %}
                                                    <a target="_blank" href="{{event.venue.website}}">
                                                        <i class="bi bi-link"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col custom-border px-3 py-2">
                                            {% if event.instagram or event.website %}
                                                Event: &nbsp;
                                                {% if event.instagram %}
                                                    <a target="_blank" href="{{event.instagram}}">
                                                        <i class="bi bi-instagram"></i>
                                                    </a>
                                                {% endif %}
                                                {% if event.website %}
                                                    {% if event.instagram %}
                                                        |
                                                    {% endif %}
                                                    <a target="_blank" href="{{event.website}}">
                                                        <i class="bi bi-link"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

    </div>
</main>





<!-- <div id="home">
    <div class="content ps-xl-5 pe-xl-5">
       <main class="">

            <div class="row">

            </div>

            {% for event in events %}

                
            {% endfor %}
            
            
            {% for event in events %}
                <div class="row my-3">
                    <div class="col-12 col-xl-3 text-xl-start text-center align-self-center calendar">
                        <add-to-calendar-button
                            styleLight="
                                --btn-background: transparent;
                                --btn-border: #F4AEFF;
                                --btn-hover-background:  #F4AEFF;
                                --btn-text: #F4AEFF;
                            "
                            styleLight="
                                --btn-background: transparent;
                                --btn-border: #F4AEFF;
                                --btn-hover-background:  #F4AEFF;
                                --btn-text: #F4AEFF;
                            "
                            name={{ event.name }}
                            startDate="{{ event.date|date:"Y-m-d" }}"
                            startTime="{{ event.date|time:"H:i" }}"
                            endTime="{{ event.end_date|time:"H:i" }}"
                            timeZone="America/Mexico_City"
                            location="{{ event.venue.name }}"
                            options="'iCal'"
                            buttonsList
                            hideTextLabelButton
                            lightMode="bodyScheme"
                           
                        ></add-to-calendar-button>
                    </div>
                    <div class="col-12 col-xl-6 text-center align-self-center">
                        <span class="font-weight-bold">{{ event.name }}</span>
                        <br>
                        <i class="bi bi-geo-fill"></i>
                        <a target="_blank" href="{{event.venue.maps}}">
                            {{ event.venue.name }}
                            ({{ event.venue.address }})
                        </a>
                    </div>
                    <div class="col-12 col-xl-3 text-center text-xl-end align-self-center">
                        {% if event.venue.instagram %}
                            <a target="_blank" href="{{event.venue.instagram}}">
                                <i class="bi bi-instagram"></i> {{ event.venue.name }}
                            </a>
                        {% endif %}

                        {% if event.venue.website %}
                            &nbsp;&nbsp;
                            <a target="_blank" href="{{event.venue.website}}">
                                <i class="bi bi-link-45deg"></i>{{ event.venue.name }}
                            </a>
                        {% endif %}
                        

                        {% if event.instagram %}
                            <br class="d-none d-xl-block">
                            &nbsp;&nbsp;    
                            <a target="_blank" href="{{event.instagram}}">
                                <i class="bi bi-instagram"></i> Evento
                            </a>
                        {% endif %}

                        
                        {% if event.website %}
                            &nbsp;&nbsp;
                            <a target="_blank" href="{{event.website}}">
                                <i class="bi bi-link-45deg"></i>Evento
                            </a>
                            
                        {% endif %}
                            
                            
                    </div>
                </div>
            
            {% empty %}
            <div class="text-center my-5 opacity-75">
                <h4>
                    No hay eventos próximos :(
                </h4>
                <p>Pero puedes mandarme un correo a <a href="mailto:vic@victrs.art?subject=Armemos%20algo%20juntxs">vic@victrs.art</a> para armar un evento juintxs </p>
            </div>

            {% endfor %}

            
            {% for event in past_events  %}

                
                {% if forloop.first %}
                    <h3 class="text-center mt-5 opacity-50">Eventos Pasados</h3>
                {% endif %}

                <div class="row my-3 opacity-50">
                    <div class="col-12 col-xl-3 text-xl-start text-center align-self-center past-event">
                        <add-to-calendar-button
                            styleLight="
                                --date-btn-background: #694BE4;
                                --btn-background-hover:#694BE4;
                                --date-btn-text: #161C2C;
                                --list-background: #694BE4;
                                --list-background-hover: #8269e6;
                                --date-btn-cal-background: 694BE4;
                                --date-btn-cal-day-text: #161C2C;
                                --date-btn-cal-month-text: #161C2C;
                                
                            "
                            styleDark="
                                --date-btn-background: #694BE4;
                                --btn-background-hover:#694BE4;
                                --date-btn-text: #161C2C;
                                --list-background: #694BE4;
                                --list-background-hover: #8269e6;
                                --date-btn-cal-background: 694BE4;
                                --date-btn-cal-day-text: #161C2C;
                                --date-btn-cal-month-text: #161C2C;
                            " 
                            name="TRS Live Set"
                            startDate="{{ event.date|date:"Y-m-d" }}"
                            startTime="{{ event.date|time:"H:i" }}"
                            endTime="{{ event.end_date|time:"H:i" }}"
                            options="'Apple','Google','Outlook.com'"
                            buttonStyle="date"
                            hideBackground
                            hideCheckmark
                            size="6"
                            inline
                            label="Add to Calendar"
                            lightMode="bodyScheme"
                            timeZone="currentBrowser"
                        ></add-to-calendar-button>
                    </div>
                    <div class="col-12 col-xl-6 text-center align-self-center">
                        <span class="font-weight-bold">{{ event.name }}</span>
                        <br>
                        <i class="bi bi-geo-fill"></i>
                        <a target="_blank" href="{{event.venue.maps}}">
                            {{ event.venue.name }}
                            ({{ event.venue.address }})
                        </a>
                    </div>
                    <div class="col-12 col-xl-3 text-center text-xl-end align-self-center">
                        {% if event.venue.instagram %}
                            <a target="_blank" href="{{event.venue.instagram}}">
                                <i class="bi bi-instagram"></i> {{ event.venue.name }}
                            </a>
                        {% endif %}

                        {% if event.venue.website %}
                            &nbsp;&nbsp;
                            <a target="_blank" href="{{event.venue.website}}">
                                <i class="bi bi-link-45deg"></i>{{ event.venue.name }}
                            </a>
                        {% endif %}
                        

                        {% if event.instagram %}
                            <br class="d-none d-xl-block">
                            &nbsp;&nbsp;    
                            <a target="_blank" href="{{event.instagram}}">
                                <i class="bi bi-instagram"></i> Evento
                            </a>
                        {% endif %}

                        
                        {% if event.website %}
                            &nbsp;&nbsp;
                            <a target="_blank" href="{{event.website}}">
                                <i class="bi bi-link-45deg"></i>Evento
                            </a>
                            
                        {% endif %}
                            
                            
                    </div>
                </div>
                    
                
            {% endfor %}
                


        
                
            
        </main>
    </div> -->
    <!-- <div class="button-div text-center">
        <button class="md-trigger fill" data-modal="modal-12">
            contact them
        </button>
    </div> -->
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/media-player.js' %}"></script>
<script>
</script>
{% endblock javascript %}

